//font
$font:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;

//color
$color-text: #778087;
$color-text-dark: #555;
$color-bg: #e2e2e2;
